    <meta charset="utf-8">
    <title><%= data.default.title %></title>
    <meta name="author" content="<%= data.default.copyright %>">
    <meta name="description" content="<%= data.default.description %>">
    <meta name="keywords" content="<%= data.default.keywords %>">